node_modules/*/
.expo/*
npm-debug.*
/ItableServer/.vs/*/
/ItableServer/BALProj/bin/*/


#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
bin/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
/ItableServer/BALProj/bin/Debug/BALProj.dll
/ItableServer/BALProj/bin/Debug/BALProj.pdb
/ItableServer/BALProj/obj/Debug/BALProj.csprojResolveAssemblyReference.cache
/ItableServer/BALProj/obj/Debug/BALProj.dll
/ItableServer/BALProj/obj/Debug/BALProj.pdb
/ItableServer/ItableServer/Bin/BALProj.dll
/ItableServer/ItableServer/Bin/BALProj.pdb
/ItableServer/BALProj/bin/Debug/BALProj.dll
/ItableServer/BALProj/bin/Debug/BALProj.pdb
/ItableServer/BALProj/obj/Debug/BALProj.csprojResolveAssemblyReference.cache
/ItableServer/BALProj/obj/Debug/BALProj.dll
/ItableServer/BALProj/obj/Debug/BALProj.pdb
/ItableServer/ItableServer/Bin/BALProj.dll
/ItableServer/ItableServer/Bin/BALProj.pdb
/ItableServer/BALProj/BAL_BACKUP_26236.cs
/ItableServer/BALProj/BAL_BASE_26236.cs
/ItableServer/BALProj/BAL_LOCAL_26236.cs
/ItableServer/BALProj/BAL_REMOTE_26236.cs
/ItableServer/BALProj/bin/Debug/BALProj.dll
/ItableServer/BALProj/bin/Debug/BALProj.pdb
/ItableServer/BALProj/obj/Debug/BALProj.csprojResolveAssemblyReference.cache
/ItableServer/BALProj/obj/Debug/BALProj.dll
/ItableServer/BALProj/obj/Debug/BALProj.pdb
/ItableServer/ItableServer/Bin/BALProj.dll
/ItableServer/ItableServer/Bin/BALProj.pdb
/ItableServer/ItableService/Properties/PublishProfiles/Service.pubxml
/src/.expo/packager-info.json
/src/.expo/settings.json
