node_modules/*/
.expo/*
npm-debug.*
/ItableServer/.vs/*/
/ItableServer/BALProj/bin/*/


#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
bin/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
/ItableServer/BALProj/bin/Debug/BALProj.dll
/ItableServer/BALProj/bin/Debug/BALProj.pdb
/ItableServer/BALProj/obj/Debug/BALProj.csprojResolveAssemblyReference.cache
/ItableServer/BALProj/obj/Debug/BALProj.dll
/ItableServer/BALProj/obj/Debug/BALProj.pdb
/ItableServer/ItableServer/Bin/BALProj.dll
/ItableServer/ItableServer/Bin/BALProj.pdb
/ItableServer/BALProj/bin/Debug/BALProj.dll
/ItableServer/BALProj/bin/Debug/BALProj.pdb
/ItableServer/BALProj/obj/Debug/BALProj.csprojResolveAssemblyReference.cache
/ItableServer/BALProj/obj/Debug/BALProj.dll
/ItableServer/BALProj/obj/Debug/BALProj.pdb
/ItableServer/ItableServer/Bin/BALProj.dll
/ItableServer/ItableServer/Bin/BALProj.pdb
/ItableServer/BALProj/BAL_BACKUP_26236.cs
/ItableServer/BALProj/BAL_BASE_26236.cs
/ItableServer/BALProj/BAL_LOCAL_26236.cs
/ItableServer/BALProj/BAL_REMOTE_26236.cs
/ItableServer/BALProj/bin/Debug/BALProj.dll
/ItableServer/BALProj/bin/Debug/BALProj.pdb
/ItableServer/BALProj/obj/Debug/BALProj.csprojResolveAssemblyReference.cache
/ItableServer/BALProj/obj/Debug/BALProj.dll
/ItableServer/BALProj/obj/Debug/BALProj.pdb
/ItableServer/ItableServer/Bin/BALProj.dll
/ItableServer/ItableServer/Bin/BALProj.pdb
/ItableServer/ItableService/Properties/PublishProfiles/Service.pubxml
/src/.expo/packager-info.json
/src/.expo/settings.json
/ItableServer/.vs/ItableServer/v15/.suo
/ItableServer/.vs/ItableServer/v15/Server/sqlite3/storage.ide-shm
/ItableServer/BALProj/obj/Debug/BALProj.csprojResolveAssemblyReference.cache
/ItableServer/DALProj/obj/Debug/DALProj.csprojResolveAssemblyReference.cache
/ItableServer/.vs/config/applicationhost.config
/ItableServer/BALProj/bin/Debug/BALProj.dll
/ItableServer/BALProj/bin/Debug/BALProj.pdb
/ItableServer/BALProj/obj/Debug/BALProj.csproj.CoreCompileInputs.cache
/ItableServer/BALProj/obj/Debug/BALProj.csproj.FileListAbsolute.txt
/ItableServer/BALProj/obj/Debug/BALProj.csprojResolveAssemblyReference.cache
/ItableServer/BALProj/obj/Debug/BALProj.dll
/ItableServer/BALProj/obj/Debug/BALProj.pdb
/ItableServer/ItableServer/Bin/BALProj.dll
/ItableServer/ItableServer/Bin/BALProj.pdb
/ItableServer/ItableService/bin/BALProj.dll
/ItableServer/ItableService/bin/BALProj.pdb
/ItableServer/ItableService/bin/ItableService.dll
/ItableServer/ItableService/bin/ItableService.pdb
/ItableServer/ItableService/obj/Debug/ItableService.csproj.CoreCompileInputs.cache
/ItableServer/ItableService/obj/Debug/ItableService.csproj.FileListAbsolute.txt
/ItableServer/ItableService/obj/Debug/ItableService.csprojResolveAssemblyReference.cache
/ItableServer/ItableService/obj/Debug/ItableService.dll
/ItableServer/ItableService/obj/Debug/ItableService.pdb
/ItableServer/.vs/ItableServer/v15/Server/sqlite3/storage.ide-shm
/ItableServer/.vs/ItableServer/v15/.suo
/ItableServer/.vs/ItableServer/v15/Server/sqlite3/storage.ide
/ItableServer/.vs/ItableServer/v15/Server/sqlite3/storage.ide-shm
/ItableServer/.vs/ItableServer/v15/Server/sqlite3/storage.ide-wal
