node_modules/*/
.expo/*
npm-debug.*
/ItableServer/BALProj/BAL_BACKUP_26236.cs
/ItableServer/BALProj/BAL_BASE_26236.cs
/ItableServer/BALProj/BAL_LOCAL_26236.cs
/ItableServer/BALProj/BAL_REMOTE_26236.cs
/ItableServer/BALProj/bin/Release/BALProj.dll
/ItableServer/BALProj/bin/Release/BALProj.pdb
/ItableServer/BALProj/bin/Release/DALProj.dll
/ItableServer/BALProj/bin/Release/DALProj.pdb
/ItableServer/BALProj/obj/Debug/build.force
/ItableServer/BALProj/obj/Release/BALProj.csproj.FileListAbsolute.txt
/ItableServer/BALProj/obj/Release/BALProj.csprojResolveAssemblyReference.cache
/ItableServer/BALProj/obj/Release/BALProj.dll
/ItableServer/BALProj/obj/Release/BALProj.pdb
/ItableServer/BALProj/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/ItableServer/BALProj/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/ItableServer/BALProj/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/ItableServer/BALProj/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/ItableServer/DALProj/bin/Release/DALProj.dll
/ItableServer/DALProj/bin/Release/DALProj.pdb
/ItableServer/DALProj/obj/Debug/DALProj.csprojResolveAssemblyReference.cache
/ItableServer/DALProj/obj/Release/DALProj.csproj.FileListAbsolute.txt
/ItableServer/DALProj/obj/Release/DALProj.csprojResolveAssemblyReference.cache
/ItableServer/DALProj/obj/Release/DALProj.dll
/ItableServer/DALProj/obj/Release/DALProj.pdb
/ItableServer/DALProj/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/ItableServer/DALProj/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/ItableServer/DALProj/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/ItableServer/DALProj/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/ItableServer/ItableService/bin/System.Web.Cors.dll
/ItableServer/ItableService/bin/System.Web.Http.Cors.dll
/ItableServer/ItableService/bin/System.Web.Http.Cors.xml
/ItableServer/ItableService/obj/Debug/build.force
/ItableServer/ItableService/obj/Release/_WPPLastBuildInfo.txt
/ItableServer/ItableService/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/ItableServer/ItableService/obj/Release/ItableService.csproj.FileListAbsolute.txt
/ItableServer/ItableService/obj/Release/ItableService.csprojResolveAssemblyReference.cache
/ItableServer/ItableService/obj/Release/ItableService.dll
/ItableServer/ItableService/obj/Release/ItableService.pdb
/ItableServer/ItableService/obj/Release/Package/PackageTmp/bin/BALProj.dll
/ItableServer/ItableService/obj/Release/Package/PackageTmp/bin/DALProj.dll
/ItableServer/ItableService/obj/Release/Package/PackageTmp/bin/ItableService.dll
/ItableServer/ItableService/obj/Release/Package/PackageTmp/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
/ItableServer/ItableService/obj/Release/Package/PackageTmp/bin/Microsoft.Web.Infrastructure.dll
/ItableServer/ItableService/obj/Release/Package/PackageTmp/bin/Newtonsoft.Json.dll
/ItableServer/ItableService/obj/Release/Package/PackageTmp/bin/roslyn/csc.exe
/ItableServer/ItableService/obj/Release/Package/PackageTmp/bin/roslyn/csc.exe.config
/ItableServer/ItableService/obj/Release/Package/PackageTmp/bin/roslyn/csc.rsp
/ItableServer/ItableService/obj/Release/Package/PackageTmp/bin/roslyn/csi.exe
/ItableServer/ItableService/obj/Release/Package/PackageTmp/bin/roslyn/csi.exe.config
/ItableServer/ItableService/obj/Release/Package/PackageTmp/bin/roslyn/csi.rsp
/ItableServer/ItableService/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
/ItableServer/ItableService/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
/ItableServer/ItableService/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.CodeAnalysis.CSharp.Scripting.dll
/ItableServer/ItableService/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.CodeAnalysis.dll
/ItableServer/ItableService/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.CodeAnalysis.Scripting.dll
/ItableServer/ItableService/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
/ItableServer/ItableService/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.CSharp.Core.targets
/ItableServer/ItableService/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
/ItableServer/ItableService/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.DiaSymReader.Native.x86.dll
/ItableServer/ItableService/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.VisualBasic.Core.targets
/ItableServer/ItableService/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.Win32.Primitives.dll
/ItableServer/ItableService/obj/Release/Package/PackageTmp/bin/roslyn/System.AppContext.dll
/ItableServer/ItableService/obj/Release/Package/PackageTmp/bin/roslyn/System.Collections.Immutable.dll
/ItableServer/ItableService/obj/Release/Package/PackageTmp/bin/roslyn/System.Console.dll
/ItableServer/ItableService/obj/Release/Package/PackageTmp/bin/roslyn/System.Diagnostics.FileVersionInfo.dll
/ItableServer/ItableService/obj/Release/Package/PackageTmp/bin/roslyn/System.Diagnostics.Process.dll
/ItableServer/ItableService/obj/Release/Package/PackageTmp/bin/roslyn/System.Diagnostics.StackTrace.dll
/ItableServer/ItableService/obj/Release/Package/PackageTmp/bin/roslyn/System.IO.Compression.dll
/ItableServer/ItableService/obj/Release/Package/PackageTmp/bin/roslyn/System.IO.FileSystem.dll
/ItableServer/ItableService/obj/Release/Package/PackageTmp/bin/roslyn/System.IO.FileSystem.DriveInfo.dll
/ItableServer/ItableService/obj/Release/Package/PackageTmp/bin/roslyn/System.IO.FileSystem.Primitives.dll
/ItableServer/ItableService/obj/Release/Package/PackageTmp/bin/roslyn/System.IO.Pipes.dll
/ItableServer/ItableService/obj/Release/Package/PackageTmp/bin/roslyn/System.Reflection.Metadata.dll
/ItableServer/ItableService/obj/Release/Package/PackageTmp/bin/roslyn/System.Security.AccessControl.dll
/ItableServer/ItableService/obj/Release/Package/PackageTmp/bin/roslyn/System.Security.Claims.dll
/ItableServer/ItableService/obj/Release/Package/PackageTmp/bin/roslyn/System.Security.Cryptography.Algorithms.dll
/ItableServer/ItableService/obj/Release/Package/PackageTmp/bin/roslyn/System.Security.Cryptography.Encoding.dll
/ItableServer/ItableService/obj/Release/Package/PackageTmp/bin/roslyn/System.Security.Cryptography.Primitives.dll
/ItableServer/ItableService/obj/Release/Package/PackageTmp/bin/roslyn/System.Security.Cryptography.X509Certificates.dll
/ItableServer/ItableService/obj/Release/Package/PackageTmp/bin/roslyn/System.Security.Principal.Windows.dll
/ItableServer/ItableService/obj/Release/Package/PackageTmp/bin/roslyn/System.Text.Encoding.CodePages.dll
/ItableServer/ItableService/obj/Release/Package/PackageTmp/bin/roslyn/System.Threading.Thread.dll
/ItableServer/ItableService/obj/Release/Package/PackageTmp/bin/roslyn/System.ValueTuple.dll
/ItableServer/ItableService/obj/Release/Package/PackageTmp/bin/roslyn/System.Xml.ReaderWriter.dll
/ItableServer/ItableService/obj/Release/Package/PackageTmp/bin/roslyn/System.Xml.XmlDocument.dll
/ItableServer/ItableService/obj/Release/Package/PackageTmp/bin/roslyn/System.Xml.XPath.dll
/ItableServer/ItableService/obj/Release/Package/PackageTmp/bin/roslyn/System.Xml.XPath.XDocument.dll
/ItableServer/ItableService/obj/Release/Package/PackageTmp/bin/roslyn/vbc.exe
/ItableServer/ItableService/obj/Release/Package/PackageTmp/bin/roslyn/vbc.exe.config
/ItableServer/ItableService/obj/Release/Package/PackageTmp/bin/roslyn/vbc.rsp
/ItableServer/ItableService/obj/Release/Package/PackageTmp/bin/roslyn/VBCSCompiler.exe
/ItableServer/ItableService/obj/Release/Package/PackageTmp/bin/roslyn/VBCSCompiler.exe.config
/ItableServer/ItableService/obj/Release/Package/PackageTmp/bin/Swashbuckle.Core.dll
/ItableServer/ItableService/obj/Release/Package/PackageTmp/bin/System.Net.Http.Formatting.dll
/ItableServer/ItableService/obj/Release/Package/PackageTmp/bin/System.Web.Cors.dll
/ItableServer/ItableService/obj/Release/Package/PackageTmp/bin/System.Web.Http.Cors.dll
/ItableServer/ItableService/obj/Release/Package/PackageTmp/bin/System.Web.Http.dll
/ItableServer/ItableService/obj/Release/Package/PackageTmp/bin/System.Web.Http.WebHost.dll
/ItableServer/ItableService/obj/Release/Package/PackageTmp/bin/WebActivatorEx.dll
/ItableServer/ItableService/obj/Release/Package/PackageTmp/Global.asax
/ItableServer/ItableService/obj/Release/Package/PackageTmp/Web.config
/ItableServer/ItableService/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/ItableServer/ItableService/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/ItableServer/ItableService/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/ItableServer/ItableService/obj/Release/TransformWebConfig/assist/Web.config
/ItableServer/ItableService/obj/Release/TransformWebConfig/original/Web.config
/ItableServer/ItableService/obj/Release/TransformWebConfig/transformed/Web.config
/ItableServer/ItableService/Properties/PublishProfiles/Service.pubxml
/ItableServer/ItableService/Properties/PublishProfiles/Service.pubxml.user
/ItableServer/packages/Microsoft.AspNet.Cors.5.2.3/.signature.p7s
/ItableServer/packages/Microsoft.AspNet.Cors.5.2.3/lib/net45/System.Web.Cors.dll
/ItableServer/packages/Microsoft.AspNet.Cors.5.2.3/Microsoft.AspNet.Cors.5.2.3.nupkg
/ItableServer/packages/Microsoft.AspNet.WebApi.Cors.5.2.3/.signature.p7s
/ItableServer/packages/Microsoft.AspNet.WebApi.Cors.5.2.3/lib/net45/System.Web.Http.Cors.dll
/ItableServer/packages/Microsoft.AspNet.WebApi.Cors.5.2.3/lib/net45/System.Web.Http.Cors.xml
/ItableServer/packages/Microsoft.AspNet.WebApi.Cors.5.2.3/Microsoft.AspNet.WebApi.Cors.5.2.3.nupkg
/src/.expo/packager-info.json
/src/.expo/settings.json
